.body-flex {
  display: flex;
  overflow-x: hidden;
  margin: 0;
  background-color: #062f62;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}


.navbar-cont {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: #e8e8e8;
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.logo-cont {
  margin: 20px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  height: 160px;
}

.navlink-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.navlink-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
}

.navlink-cont:hover {
  background-color: #6592ec;
}

.navlink {
  text-decoration: none;
  color: #062f62;
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
}

.home-page-cont {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.video-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  /* This ensures the video starts after the navbar */
  width: 85vw;
  /* Adjust the width to fill the remaining space */
  height: 100vh;
  position: relative;

}

.video-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0, 0.65), rgb(101, 146, 236, 0.5));
  z-index: 1;
  border-radius: 30px;
}

.banner-text-cont {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2;
  color: #fff;
  padding: 20px;
}

.banner-text {
  font-size: 59px;
  line-height: 80px;
}

.banner-para {
  font-size: 18px;
  border: solid #6592ec;
  border-width: 0px 0px 0px 8px;
  padding-left: 20px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px
}

mark {
  color: #fff;
  background-color: #6592ec;
  padding: 4px;
}

.about {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 60px;
  width: auto;
  max-width: 100%;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: hidden;
  margin-left: 380px;
  padding: 30px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.about-head {
  color: #70a0ff;
}

.about-para {
  color: #fff;
  font-size: 22px;
  width: 65vw;
  margin-top: -15px;
}


.about-head2 {
  color: #70a0ff;
  font-size: 32px;
  border: solid #70a0ff;
  border-width: 0px 0px 0px 5px;
  padding-left: 10px;
  margin-top: 30px;
}

.about-para2 {
  color: #e8e8e8;
  font-size: 19px;
  width: 65vw;
  margin-top: -2px;
  padding-left: 18px;

}

.features {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1;
}


.f1 {
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  border: 0px solid;
  border-radius: 30px;
  margin: 10px;
  height: 200px;
  width: 15vw;
}

.f1-head {
  text-align: center;
  font-family: "Space Grotesk";
  color: #062f62;
  font-size: 28px;
  padding: 14px;

}

.f2 {
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no repeat;
  border: 0px solid;
  border-radius: 30px;
  margin: 10px;
  background-position: 10% 20% 30% 20%;
  height: 200px;
  width: 15vw;
}

.f3 {
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no repeat;
  border: 0px solid;
  border-radius: 30px;
  margin: 10px;
  height: 200px;
  width: 15vw;
}


.f4 {
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no repeat;
  border: 0px solid;
  border-radius: 30px;
  margin: 10px;
  height: 200px;
  width: 15vw;
}

.map-cont {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 60px;
  width: auto;
  max-width: 100%;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: hidden;
  margin-left: 300px;
  background-color: #70a0ff;
  padding: 30px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

}

.map {
  border-radius: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-full {
  display: flex;
  justify-content: center;
}

.login-container {
  display: none;
  justify-content: center;
  margin: 60px;
  width: 18vw;
  max-width: 100%;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: hidden;
  margin-left: 300px;
  margin-right: 150px;
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  padding: 30px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  height: 360px;
}

.login {
  font-size: 25px;
  font-weight: 600;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.form-row {
  margin-bottom: 12px;
}

.input-field {
  border: 0px solid;
  border-radius: 10px;
  padding: 12px;
  width: 90%;
  margin-top: 6px;
  font-size: 14px;
  font-family: "Space Grotesk";
}

.input-field:focus {
  outline: none;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #062f62;
  border: 0px solid;
  border-radius: 10px;
  padding: 12px;
  color: #fff;
  font-family: "Space Grotesk";
  width: 120px;
  font-size: 18px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #272727;
}

.signup-container {
  display: none;
  justify-content: center;
  margin: 60px;
  width: 18vw;
  max-width: 100%;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: hidden;
  margin-left: 300px;
  margin-right: 150px;
  background: linear-gradient(to bottom, #e8e8e8, #6592ec);
  padding: 30px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  height: 430px;
}

.login {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.s-label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.form-row {
  margin-bottom: 12px;
}

.s-input-field {
  border: 0px solid;
  border-radius: 10px;
  padding: 12px;
  width: 90%;
  margin-top: 6px;
  font-size: 14px;
  font-family: "Space Grotesk";
}

.s-input-field:focus {
  outline: none;
}

.s-form-row {
  margin-top: -12px;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #062f62;
  border: 0px solid;
  border-radius: 10px;
  padding: 12px;
  color: #fff;
  font-family: "Space Grotesk";
  width: 120px;
  font-size: 18px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #272727;
}

.contact-full {
  display: flex;
  justify-content: center; 
}

.contact-cont {
  
  display: none;
  justify-content: center;
  width: 60vw;
  flex-direction: column;
  margin-left: 120px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.contact-head {
  color: #6592ec;
  font-size: 43px;
}

.contact-pcont {
  display: flex;
  flex-direction: column;
}

.contact-para1 {
  color: #e8e8e8;
  font-size: 20px;
}

.contact-para2 {
  color: #e8e8e8;
  font-size: 20px;
  border: solid #70a0ff;
  border-width: 0px 0px 0px 5px;
  padding-left: 10px;
  margin-top: 30px;
  align-items: center;
  padding: 10px;
}

.list {
  margin-left: 30px;
  line-height: 40px;
}

.list a{
  color: #70a0ff;
  cursor: pointer;
}

.about-show,
.map-cont-show,
.home-page-cont, .login-show, .signup-show, .contact-show {
  display: block;
  animation-name: fadeIn;
}



